<div class="row">
    <div class="col-xl-12">
        <!-- Start of a Content -->
        <kt-portlet>
            <kt-portlet-header [title]="'Data Jurnal Batch'"></kt-portlet-header>
            <kt-portlet-body>
                <div class="kt-section" *ngIf="menuload">
                    <kt-loading [loadingText]="'Please wait...'"></kt-loading>
                </div>
                <div *ngIf="!menuload">
                    <kt-forminput [inputLayout]="inputLayout" [rightInputLayout]="rightInputLayout"
                        [formValue]="formValue" [namaTombol]="'Cari'" (onSubmit)="onSubmit($event)" [noCancel]="true"
                        [rightLayout]="true"></kt-forminput>
                </div>
                <div class="kt-section" *ngIf="tableLoad && !menuload">
                    <kt-loading [loadingText]="'Please wait...'"></kt-loading>
                </div>
                <div *ngIf="!tableLoad && !menuload" style="margin-top: 7px;">
                    <kt-datatable-ag-grid [tableColumn]="displayColumns" [tableRules]="browseDataRules"
                        [tableData]="browseData" (selectRowEvent)="selectRow($event)" [containerHeight]=480>
                    </kt-datatable-ag-grid>
                </div>
                <form #form action="http://deva.darkotech.id:8704/erp-ws-main/ws/postdownload/report" method="post"
                    target="_blank">
                    <input hidden name="requestParam" value="{{ keyRptExcel }}">
                    <button type="submit" (click)="form.submit()" id="fsubmit" hidden value="Submit">Submit</button>
                </form>
            </kt-portlet-body>
        </kt-portlet>
        <!-- End of a Content -->
    </div>
</div>