.kt-section {
    padding: 20px 28px;
}

.row-full-width {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.row-full-width:hover {
    background-color: #ecf0f1;
}

.numberIndex {
    width: 2em; 
    background-color: blue; 
    text-align: center;
    margin-right: 10px;
}