<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <div class="kt-section" *ngIf="loading">
                <kt-loading></kt-loading>
            </div>

            <kt-portlet-body>
                <div class="kt-section" *ngIf="!loading" style="height: 500px;">
                    <div *ngIf="!loadingJL">
                        <kt-forminput [inputLayout]="inputLayout" [formValue]="formValue" [namaTombol]="nama_tombol"
                            [tableColumn]="detailDisplayColumns" [tableData]="detailData" [tableRules]="detailRules"
                            (onSubmit)="onSubmitJL($event)" [onSub]="onSub" [noCancel]="true">
                        </kt-forminput>
                        <form #form action="http://deva.darkotech.id:8702/erp-ws-main/ws/postdownload/report"
                            method="post" target="_blank">
                            <input hidden name="requestParam" value="{{ keyReportFormatExcel }}">
                            <button type="submit" (click)="form.submit()" id="fsubmit" hidden
                                value="Submit">Submit</button>
                        </form>
                    </div>
                    <div *ngIf="loadingJL">
                        <kt-loading></kt-loading>
                    </div>
                </div>
            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>