<div class="detail-section">

    <div class="button-container" style="margin-bottom: 15px">
      <div *ngFor="let x of btnLayout">
        <div *ngIf="x.btnCondition()">
          <button 
            type="button" 
            [className]="x.btnClass"
            (click)="x.btnClick()"
          >{{ x.btnLabel }}</button>
        </div>
      </div>
    </div>
  
    <div #toMeasure [ngStyle]="containerStyle">
      <ag-grid-angular 
          style="width: 100%; height: 100%;" 
          class="ag-theme-balham"
          [rowData]="rowData" 
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [multiSortKey]="multiSortKey"
          [rowSelection]="rowSelection"
          [rowMultiSelectWithClick]="multiRowSelectWithClick"
          [floatingFilter]="true"
          [enableCellChangeFlash]="true"
          [frameworkComponents]="frameworkComponents"
          [context]="context"
          [pinnedBottomRowData]="pinnedBottomRowData"
          [rowClassRules]="rowClassRules"
          (gridReady)="onGridReady($event)"
          (selectionChanged)="onSelectionChanged($event)"
      >
      </ag-grid-angular>
    </div>
    
  </div>