<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <div class="kt-section" *ngIf="loading">
                <kt-loading></kt-loading>
            </div>

            <!-- Start of Tabs -->
            <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabSelect($event)" *ngIf="!loading">

                <!-- Start of tab input-->
                <mat-tab label="">

                    <!-- Tab Label -->
                    <ng-template mat-tab-label>
                        <p style="margin-bottom: 0"><b>Posting Jurnal</b></p><br>
                    </ng-template>
                    <kt-portlet-body>
                        <div class="kt-section" style="display:flex; flex-direction: row; height:320px;">
                            <div style="width: 50%;">
                                <kt-forminput [inputLayout]="inputLayout" [formValue]="formValue"
                                    [namaTombol]="nama_tombolPJ" [namaTombol2]="nama_tombolUP"
                                    [buttonLayout]="buttonLayout" [tableColumn]="detailDisplayColumns"
                                    [tableData]="detailData" [tableRules]="detailRules" [editable]="editable"
                                    [detailLoad]="detailLoad" [enableDetail]="enableDetail"
                                    (onSubmit)="openCDialog('posting_jurnal')" [onUpdate]="onUpdate"
                                    [enableDelete]="enableDelete" (deleteData)="openCDialog()"
                                    (editAction)="editDetailData($event)" (deleteAction)="deleteDetailData($event)"
                                    (onCancel)="onCancel()" [onSub]="onSub">
                                </kt-forminput>
                            </div>

                            <div class="kt-section" *ngIf="tableLoadBP && !loading" style="width: 50%;">
                                <kt-loading [loadingText]="loadingDataTextBP"></kt-loading>
                            </div>

                            <div *ngIf="!tableLoadBP && !loading" style="width: 50%;">
                                <h2>Jurnal Belum Posting</h2>
                                <kt-datatable-ag-grid #jbp [tableColumn]="displayedColumnsTableBP"
                                    [tableData]="browseDataBP" [tableRules]="browseDataRulesBP"
                                    (selectRowEvent)="browseSelectRowBP($event)" [containerHeight]=300>
                                </kt-datatable-ag-grid>
                            </div>
                        </div>

                        <hr style="width: 100%;">

                        <div class="kt-section" *ngIf="tableLoad && !loading">
                            <kt-loading [loadingText]="loadingDataText"></kt-loading>
                        </div>

                        <div *ngIf="!tableLoad && !loading">
                            <hr>
                            <h2>Riwayat Posting</h2>
                            <kt-datatable-ag-grid #rp [tableColumn]="displayedColumnsTable" [tableData]="browseData"
                                [tableRules]="browseDataRules" (selectRowEvent)="browseSelectRow($event)"
                                [containerHeight]=300>
                            </kt-datatable-ag-grid>
                        </div>
                    </kt-portlet-body>
                </mat-tab>
                <!-- End of tab input-->
                <!-- Start of tab browse-->
                <mat-tab label="">
                    <!-- Tab Label -->
                    <ng-template mat-tab-label>
                        <p style="margin-bottom: 0"><b>Tutup Periode Sementara</b></p><br>
                    </ng-template>
                    <kt-portlet-body>
                        <div class="kt-section" style="min-height: 200px;" *ngIf="loadTabTPS">
                            <kt-loading></kt-loading>
                        </div>
                        <div class="kt-section" style="min-height: 200px;" *ngIf="!loadTabTPS">
                            <kt-forminput #TPS [inputLayout]="inputLayoutTPS" [formValue]="formValueTPS"
                                [namaTombol]="nama_tombolTPS" [buttonLayout]="buttonLayout"
                                [tableColumn]="detailDisplayColumns" [tableData]="detailData" [tableRules]="detailRules"
                                [editable]="editable" [detailLoad]="detailLoad" [enableDetail]="enableDetail"
                                (onSubmit)="openCDialog('tutup_periode_sementara')" [onUpdate]="onUpdate"
                                [enableDelete]="enableDelete" (deleteData)="openCDialog()"
                                (editAction)="editDetailData($event)" (deleteAction)="deleteDetailData($event)"
                                [noCancel]="noCancel">
                            </kt-forminput>
                        </div>
                    </kt-portlet-body>
                </mat-tab>
                <!-- End of tab browse-->
                <!-- Start of tab browse-->
                <mat-tab label="">
                    <!-- Tab Label -->
                    <ng-template mat-tab-label>
                        <p style="margin-bottom: 0"><b>Tutup Periode</b></p><br>
                    </ng-template>
                    <kt-portlet-body>
                        <div class="kt-section" style="min-height: 200px;" *ngIf="loadTab">
                            <kt-loading></kt-loading>
                        </div>
                        <div class="kt-section" style="min-height: 200px;" *ngIf="!loadTab">
                            <kt-forminput #TP [inputLayout]="inputLayoutTP" [formValue]="formValueTP"
                                [namaTombol]="nama_tombolTP" [buttonLayout]="buttonLayout"
                                [tableColumn]="detailDisplayColumns" [tableData]="detailData" [tableRules]="detailRules"
                                [editable]="editable" [detailLoad]="detailLoad" [enableDetail]="enableDetail"
                                (onSubmit)="openCDialog('tutup_periode')" [onUpdate]="onUpdate"
                                [enableDelete]="enableDelete" (deleteData)="openCDialog()"
                                (editAction)="editDetailData($event)" (deleteAction)="deleteDetailData($event)"
                                [noCancel]="noCancel">
                            </kt-forminput>
                        </div>
                    </kt-portlet-body>
                </mat-tab>
                <!-- End of tab browse-->
            </mat-tab-group>
            <!-- End of Tabs -->
        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>