<div class="row">
  <div class="col-xl-12">

    <!-- Start of a Content -->

    <kt-portlet>
      <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
      <div class="kt-section" *ngIf="loading">
        <kt-loading></kt-loading>
      </div>

      <!-- Start of Tabs -->
      <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabSelect($event)" *ngIf="!loading">


        <mat-tab label="">

          <!-- Tab Label -->
          <ng-template mat-tab-label>
            <p style="margin-bottom: 0"><b>Laba Rugi</b></p><br>
          </ng-template>

          <kt-portlet-body>
            <div class="kt-section" *ngIf="loadingLB">
              <kt-loading></kt-loading>
            </div>

            <div class="kt-section" *ngIf="!loadingLB">
              <kt-forminput #lb [inputLayout]="inputLBLayout" [formValue]="formLBValue" [noButton]="formNoButton"
                (onSubmit)="onSubmit($event)" (onCancel)="onCancel()"></kt-forminput>

              <div *ngFor="let item of LBSetting['keyPengakuanNilai']; let i = index" style="width: 100%;">
                <div *ngIf="(i + 1) % 2 != 0"
                  style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                  <div style="width: 47.5%;">
                    <!-- INI JUDUL -->
                    <h5>Kelompok {{ LBSetting['keyPengakuanNilai'][i]['label'] }}</h5>
      

                    
                    <kt-detailinput-ag-grid [buttonLayout]="buttonLBLayout"
                      [buttonFuncParam]="LBSetting['keyPengakuanNilai'][i]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="LBSetting['daftarPengakuanNilai'][LBSetting['keyPengakuanNilai'][i]['value']]"
                      [tableRules]="inputAkunTableRules" [editable]="editable" (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'lbrg', LBSetting['keyPengakuanNilai'][i]['value'])">
                    </kt-detailinput-ag-grid>
                  </div>

                  <div style="width: 47.5%;" *ngIf="LBSetting['keyPengakuanNilai'].length > (i + 1)">
                    <h5>Kelompok {{ LBSetting['keyPengakuanNilai'][i + 1]['label'] }}</h5>
                    <kt-detailinput-ag-grid [buttonLayout]="buttonLBLayout"
                      [buttonFuncParam]="LBSetting['keyPengakuanNilai'][i + 1]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="LBSetting['daftarPengakuanNilai'][LBSetting['keyPengakuanNilai'][i + 1]['value']]"
                      [tableRules]="inputAkunTableRules"
                      [editable]="editable"
                      (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'lbrg', LBSetting['keyPengakuanNilai'][i + 1]['value'])" 
                      (ngModelChange)="logTableData(LBSetting['daftarPengakuanNilai'][LBSetting['keyPengakuanNilai'][i + 1]['value']])">>
                    </kt-detailinput-ag-grid>
                  </div>
                </div>

              </div>

              <div class="kt-form__actions">
                <button type="submit" class="btn btn-brand" (click)="onSubmit('lbrg')">Simpan</button>
              </div>
            </div>
          </kt-portlet-body>

        </mat-tab>

        <mat-tab label="">

          <!-- Tab Label -->
          <ng-template mat-tab-label>
            <p style="margin-bottom: 0"><b>Neraca</b></p><br>
          </ng-template>

          <kt-portlet-body>
            <div class="kt-section" *ngIf="loadingNR">
              <kt-loading></kt-loading>
            </div>

            <div class="kt-section" *ngIf="!loadingNR">
              <kt-forminput [inputLayout]="inputNRLayout" [formValue]="formNRValue" [noButton]="formNoButton"
                (onSubmit)="onSubmit($event)" (onCancel)="onCancel()"></kt-forminput>

              <div *ngFor="let item of NRSetting['keyPengakuanNilai']; let i = index" style="width: 100%;">
                <div *ngIf="(i + 1) % 2 != 0"
                  style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                  <div style="width: 47.5%;">
                    <h5>Kelompok {{ NRSetting['keyPengakuanNilai'][i]['label'] }}</h5>
                    <kt-detailinput-ag-grid [buttonLayout]="buttonNRLayout"
                      [buttonFuncParam]="NRSetting['keyPengakuanNilai'][i]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="NRSetting['daftarPengakuanNilai'][NRSetting['keyPengakuanNilai'][i]['value']]"
                      [tableRules]="inputAkunTableRules" [editable]="editable" (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'nr', NRSetting['keyPengakuanNilai'][i]['value'])">
                    </kt-detailinput-ag-grid>
                  </div>

                  <div style="width: 47.5%;" *ngIf="NRSetting['keyPengakuanNilai'].length > (i + 1)">
                    <h5>Kelompok {{ NRSetting['keyPengakuanNilai'][i + 1]['label'] }}</h5>
                    <kt-detailinput-ag-grid [buttonLayout]="buttonNRLayout"
                      [buttonFuncParam]="NRSetting['keyPengakuanNilai'][i + 1]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="NRSetting['daftarPengakuanNilai'][NRSetting['keyPengakuanNilai'][i + 1]['value']]"
                      [tableRules]="inputAkunTableRules" [editable]="editable" (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'nr', NRSetting['keyPengakuanNilai'][i + 1]['value'])">
                    </kt-detailinput-ag-grid>
                  </div>
                </div>

              </div>

              <div class="kt-form__actions">
                <button type="submit" class="btn btn-brand" (click)="onSubmit('nr')">Simpan</button>
              </div>
            </div>
          </kt-portlet-body>

        </mat-tab>

        <mat-tab label="">

          <!-- Tab Label -->
          <ng-template mat-tab-label>
            <p style="margin-bottom: 0"><b>Arus Kas</b></p><br>
          </ng-template>

          <kt-portlet-body>
            <div class="kt-section" *ngIf="loadingAK">
              <kt-loading></kt-loading>
            </div>

            <div class="kt-section" *ngIf="!loadingAK">
              <kt-forminput #ak [inputLayout]="inputAKLayout" [formValue]="formAKValue" [noButton]="formNoButton"
                (onSubmit)="onSubmit($event)" (onCancel)="onCancel()"></kt-forminput>

              <div *ngFor="let item of AKSetting['keyPengakuanNilai']; let i = index" style="width: 100%;">
                <div *ngIf="(i + 1) % 2 != 0"
                  style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                  <div style="width: 47.5%;">
                    <h5>Kelompok {{ AKSetting['keyPengakuanNilai'][i]['label'] }}</h5>
                    <kt-detailinput-ag-grid [buttonLayout]="buttonAKLayout"
                      [buttonFuncParam]="AKSetting['keyPengakuanNilai'][i]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="AKSetting['daftarPengakuanNilai'][AKSetting['keyPengakuanNilai'][i]['value']]"
                      [tableRules]="inputAkunTableRules" [editable]="editable" (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'ak', AKSetting['keyPengakuanNilai'][i]['value'])">
                    </kt-detailinput-ag-grid>
                  </div>

                  <div style="width: 47.5%;" *ngIf="AKSetting['keyPengakuanNilai'].length > (i + 1)">
                    <h5>Kelompok {{ AKSetting['keyPengakuanNilai'][i + 1]['label'] }}</h5>
                    <kt-detailinput-ag-grid [buttonLayout]="buttonAKLayout"
                      [buttonFuncParam]="AKSetting['keyPengakuanNilai'][i + 1]['value']"
                      [tableColumn]="inputAkunDisplayColumns"
                      [tableData]="AKSetting['daftarPengakuanNilai'][AKSetting['keyPengakuanNilai'][i + 1]['value']]"
                      [tableRules]="inputAkunTableRules" [editable]="editable" (editAction)="editDetailData($event)"
                      (deleteAction)="delDetailData($event, 'ak', AKSetting['keyPengakuanNilai'][i + 1]['value'])">
                    </kt-detailinput-ag-grid>
                  </div>
                </div>

              </div>

              <div class="kt-form__actions">
                <button type="submit" class="btn btn-brand" (click)="onSubmit('ak')">Simpan</button>
              </div>
            </div>
          </kt-portlet-body>

        </mat-tab>

      </mat-tab-group>
      <!-- End of Tabs -->
    </kt-portlet>

    <!-- End of a Content -->

  </div>
</div>