:host {
	.kt-aside {
		height: 100%;

		.kt-aside-menu {
			margin: 0;
		}
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}

	.kt-menu__nav{
		padding: 15px 0 80px;
	}
}
