<div style="padding: 0">
  
    <div style="width: 1000px; height: auto;" *ngIf="loading == true">
      <kt-loading></kt-loading>
    </div>
  
    <div style="width: 1000px; height: auto;" *ngIf="loading != true">
      <kt-datatable-ag-grid
        [tableColumn]="displayedColumnsTable"
        [tableData]="tableData"
        [tableRules]="tableRules"
        [selectable]="selectable"
        [selected]="selected"
        [selectIndicator]="selectIndicator"
        (selectRowEvent)="dialogRowSelect($event)"
        (onDialogClose)="closeDialog()"
      ></kt-datatable-ag-grid>
    </div>
  </div>
  