<div class="row">
    <div class="col-xl-12">
  
      <!-- Start of a Content -->
  
      <kt-portlet>
        <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
        <div class="kt-section" *ngIf="loading">
          <kt-loading></kt-loading>
        </div>
  
        <kt-portlet-body>
          <div class="kt-section">
            <ngx-dropzone (change)="onFileDropped($event)" [accept]="'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                <ngx-dropzone-label>Tarik atau tekan untuk mengunggah tautan.</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onFileRemoved(f)">
                    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </kt-portlet-body>
        
      </kt-portlet>
  
      <!-- End of a Content -->
  
    </div>
  </div>
  