.form-group.hidden {
	width: 0;
	margin: 0;
	border: none;
	padding: 0;
}

.custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}
  
.custom-day.focused {
	background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
	background-color: rgb(2, 117, 216);
	color: white;
}

.custom-day.faded {
	background-color: rgba(2, 117, 216, 0.5);
}

:host {
	::ng-deep {
		.ngb-dp-day.disabled {
			color: lightgray !important;
			&:hover {
				background-color: white !important;
			}
		}
	}
}


// ----------------------------------------------------------------------||-------------------------------------------------------------------- //
.btn-input-group {
	padding: 6px 4.5px 6px 10px;
}

.btn-datepicker-single {
	padding: 6px 3px 6px 10px;
}

.btn-datepicker-range {
	padding: 6px 3px 6px 10px;
}

// :host /deep/ ngb-datepicker {
// 	left: 20px !important;
// }

//
:host {
    // CSS Jarak antar Input Field
    /deep/ .form-group {
        margin-bottom: 0.1rem;
    }

    // CSS Ukuran Input Field Box
    /deep/ .form-control {
		height: calc(1.15em + 1.3rem + 2px);
		padding: 0.3rem 1rem;
	}
	
	// CSS 
	/deep/ .input-group-text {
		padding: 0.5rem 1rem;
	}

	// /deep/ .input-group-append {
	// 	max-height: 33px !important;
	// }
}


