<form #inputForm=ngForm (ngSubmit)="formSubmit(inputForm)">
  <div class="form-group m-form__group row" *ngFor="let x of inputLayout; let i = index" [hidden]="x.hiddenOn ?       
          (
            isArray(x.hiddenOn.matchValue === undefined ? '' : x.hiddenOn.matchValue) ? 
            (x.hiddenOn.matchValue.includes(cFormValue[x.hiddenOn.valueOf]) ? true : false) : 
            x.hiddenOn.matchValue === cFormValue[x.hiddenOn.valueOf] ? true : false
          )
     : false">

    <label class="col-form-label" [ngClass]="[ x.labelWidth ? x.labelWidth : 'col-2' ]">{{ x.label }}</label>

    <div class="{{ x.formWidth }}">
      <!-- FOR COMBOBOX -->
      <select *ngIf="x.type === 'combobox'" id="{{ x.id }}" class="form-control m-input" [value]="cFormValue[x.valueOf]"
        (change)="selection($event, x.valueOf, x.onSelectFunc)"
        [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm">
        <option *ngFor="let opt of x.options" value="{{ opt.value }}">{{ opt.label }}</option>
      </select>

      <!-- DYNAMIC COMBOBOX -->
      <select *ngIf="x.type === 'comboboxcustom'" id="{{ x.id }}" class="form-control m-input"
        [value]="otoritas_data.length > 0 && otoritas_data[x.index] !== undefined ? otoritas_data[x.index][x.valueOf] : ''"
        [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm">
        <option *ngFor="let opt of x.options" value="{{ opt.value }}">{{ opt.label }}</option>
      </select>

      <!-- FOR INPUT GROUP -->
      <div *ngIf="x.type === 'inputgroup'" class="input-group">
        <input class="form-control m-input" type="text" name="{{ x.id }}" [(ngModel)]="cFormValue[x.valueOf]"
          (input)="inputPipe(x.valueOf, $event.target.value)" [readOnly]="x.readOnly" [required]="x.required"
          (blur)="x.blurOption ? onBlur($event, x.blurOption['ind'], x.blurOption['data'], x.blurOption['valueOf'], x.blurOption['onFound']) : null"
          (keyup.enter)="x.blurOption ? onBlur($event, x.blurOption['ind'], x.blurOption['data'], x.blurOption['valueOf'], x.blurOption['onFound']) : null"
          (keyup.tab)="x.blurOption ? onBlur($event, x.blurOption['ind'], x.blurOption['data'], x.blurOption['valueOf'], x.blurOption['onFound']) : null"
          style="text-transform: uppercase"
          [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm">
        <div class="input-group-append">
          <button *ngIf="!x.noButton" tabindex="-1" type="button" class="btn btn-primary" style="padding-right: 8px;"
            (click)="x.click(x.browseType)"
            [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"><i
              *ngIf="x.btnIcon" style="color: white" class="flaticon"
              [ngClass]="x.btnIcon"></i>{{ x.btnLabel }}</button>
        </div>
        <input tabindex="-1" class="form-control m-input margin-left-5 disabled-input" *ngIf="x.inputInfo" type="text"
          name="{{ x.inputInfo.id }}" [disabled]="x.inputInfo.disabled" [readOnly]="x.inputInfo.readOnly"
          [required]="x.inputInfo.required" [(ngModel)]="cFormValue[x.inputInfo.valueOf]">
      </div>

      <!-- FOR NORMAL INPUT -->
      <div *ngIf="x.type === 'input'" [ngClass]="{'input-group': x.rightAddon || x.leftAddon}">
        <div class="input-group-prepend" *ngIf="x.leftAddon"><span class="input-group-text"
            id="basic-addon-left">{{ x.leftAddon }}</span></div>
        <input *ngIf="!x.numberOnly && !x.currency" class="form-control m-input" type="text" name="{{ x.id }}"
          [(ngModel)]="cFormValue[x.valueOf]" [readonly]="x.readOnly" [required]="x.required"
          [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
          (input)="x.inputPipe ? inputPipe(x.valueOf, $event.target.value) : null">
        <input *ngIf="x.numberOnly" class="form-control m-input" type="number" name="{{ x.id }}"
          [(ngModel)]="cFormValue[x.valueOf]" [readonly]="x.readOnly" [required]="x.required"
          [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm">
        <input *ngIf="x.currency" class="form-control m-input number-align-right" type="text" name="{{ x.id }}"
          [(ngModel)]="cFormValue[x.valueOf]" (keyup)="x.inputPipe ? inputPipe(x.valueOf, $event.target.value) : null"
          [readonly]="x.readOnly" [required]="x.required"
          [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
          currencyMask [options]="x.currencyOptions">
        <div class="input-group-append" *ngIf="x.rightAddon"><span class="input-group-text"
            id="basic-addon-right">{{ x.rightAddon }}</span></div>
      </div>

      <!-- DATEPICKER && TIME PICKER -->
      <div *ngIf="x.type === 'datepicker'">
        <div class="input-group">
          <input class="form-control" name="{{ x.id }}" ngbDatepicker #dd="ngbDatepicker" readonly
            (dateSelect)="onDateSelect($event, x.valueOf, x.onSelectFunc)"
            [ngModel]="getDateFormat(cFormValue[x.valueOf])"
            (focus)="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm ? null : dd.toggle()"
            [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
            [minDate]="x.enableMin ? x.minMaxDate ? getMinToday(x.minMaxDate()) : x.minDate ? x.minDate() : null : null"
            [maxDate]="x.enableMax ? x.minMaxDate ? getMaxToday(x.minMaxDate()) : x.maxDate ? x.maxDate() : null : null" [markDisabled]="x.onDisableDate ? x.disableCustomDate ? getdisableCustomDate(x.disableCustomDate()) : null : null">
          <div class="input-group-append">
            <button tabindex="-1" class="btn btn-primary"
              (click)="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm ? null : dd.toggle()"
              type="button"
              [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
              style="padding-right: 6px;">
              <i class="la la-calendar" style="color: white;"></i>
            </button>
          </div>

          <div class="m--margin-left-10" *ngIf="x.timepick == true">
            <ngb-timepicker [(ngModel)]="cFormValue[x.time_valueOf]" [spinners]="x.time_spinners"
              [meridian]="x.time_meridian" name="{{ x.id + '-time' }}"></ngb-timepicker>
          </div>
        </div>

        <span *ngIf="x.toolTip" class="m-form__help">{{ x.toolTip }}</span>
      </div>

      <!-- DATEPICKER RANGE -->
      <div *ngIf="x.type === 'datepicker-range'" class="input-group">
        <input type="hidden" class="form-control" name="{{ x.id }}" ngbDatepicker #dpr="ngbDatepicker" readonly
          [autoClose]="'outside'" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!"
          (dateSelect)="onDateSelection($event, x.valueOf, x.onSelectFunc)"
          [ngModel]="getDateFormat(cFormValue[x.valueOf])"
          [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
          [minDate]="x.enableMin ? x.minMaxDate ? getMinToday(x.minMaxDate()) : x.minDate ? x.minDate() : null : null"
          [maxDate]="x.enableMax ? x.minMaxDate ? getMaxToday(x.minMaxDate()) : x.maxDate ? x.maxDate() : null : null">
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" (focus)="dpr.toggle()"
          [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
        <div class="input-group-append">
          <button tabindex="-1" class="btn btn-primary" (click)="dpr.toggle()" type="button"
            [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
            style="padding-right: 6px;">
            <i class="la la-calendar" style="color: white;"></i>
          </button>
        </div>
        <label class="col-1 col-form-label"> - </label>
        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" (focus)="dpr.toggle()"
          [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
        <div class="input-group-append">
          <button tabindex="-1" class="btn btn-primary" (click)="dpr.toggle()" type="button"
            [disabled]="(onUpdate && (x.update === undefined ? false : x.update.disabled)) || (x.disabled === undefined ? false : x.disabled) || disabledOn(x.disabledOn) || disableForm"
            style="padding-right: 6px;">
            <i class="la la-calendar" style="color: white;"></i>
          </button>
        </div>

      </div>


    </div>
  </div>

  <div class="kt-section" *ngIf="detailLoad && enableDetail">
    <kt-loading></kt-loading>
  </div>

  <div *ngIf="!detailLoad && enableDetail">
    <kt-detailinput-ag-grid [buttonLayout]="buttonLayout" [tableColumn]="tableColumn" [tableData]="tableData"
      [tableRules]="tableRules" [editable]="editable" (editAction)="editDetailData($event)"
      (deleteAction)="delDetailData($event)"></kt-detailinput-ag-grid>
  </div>

  <div class="kt-section" *ngIf="detailLoad && detailJurnal">
    <kt-loading></kt-loading>
  </div>

  <div *ngIf="!detailLoad && detailJurnal" style="margin-bottom: 15px;">
    <kt-detail-jurnal [dataAkun]="jurnalDataAkun" [dataDivisi]="jurnalDataDivisi" [dataSetting]="jurnalDataSetting"
      [data]="jurnalData" [jurnalOtomatis]="jurnalOtomatis" [templateTransaksi]="templateTransaksi" [noEdit]="noEditJurnal"></kt-detail-jurnal>
  </div>

  <div class="kt-form__actions" *ngIf="!noButton">
    <button type="submit" class="btn btn-brand" *ngIf="!onSub && !noSaveButton"
      [disabled]="disableSubmit ? true : false">{{ button_name }}</button>
    <button type="submit" class="btn btn-brand" *ngIf="onSub">{{ button_name2 }}</button>
    <button type="button" class="btn btn-secondary kt--margin-left-10" *ngIf="!noCancel" style="margin-left: 10px;"
      (click)="onReset()">Batal</button>
    <button type="button" class="btn btn-secondary kt--margin-left-10" style="margin-left: 10px;" (click)="delData()"
      *ngIf="onUpdate && enableDelete">Hapus</button>
    <button type="button" class="btn btn-secondary kt--margin-left-10" style="margin-left: 10px;" (click)="cancelData()"
      *ngIf="onUpdate && enableCancel">Batal Transaksi</button>
    <button type="button" class="btn btn-brand" style="margin-left: 10px;" (click)="printDoc()"
      *ngIf="onSubPrintDoc" [disabled]="disablePrintButton ? true : false">{{ button_name_print_doc }}</button>
    <button type="button" class="btn btn-brand" style="margin-left: 10px;" (click)="printDoc2()"
      *ngIf="onSubPrintDoc2" [disabled]="disablePrintButton2 ? true : false">{{ button_name_print_doc2 }}</button>
  </div>
</form>