<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <div class="kt-section" *ngIf="loading">
                <kt-loading></kt-loading>
            </div>

            <kt-portlet-body>
                <div class="kt-section" *ngIf="!loading">
                    <div *ngIf="!loadingNS">
                        <kt-forminput #ns [inputLayout]="inputLayoutNS" [formValue]="formValueNS"
                            [nama_tombol]="nama_tombol" [tableColumn]="detailDisplayColumns" [tableData]="detailData"
                            [tableRules]="detailRules" (onSubmit)="onSubmitNS($event)" (onCancel)="onCancel('ns')"
                            [onSub]="onSub">
                        </kt-forminput>
                    </div>
                    <div *ngIf="loadingNS">
                        <h3>Neraca Saldo</h3><br>
                        <kt-loading></kt-loading>
                    </div>
                </div>
            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>