<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <kt-portlet-body>

                <div class="kt-section" *ngIf="loading">
                    <kt-loading></kt-loading>
                </div>

                <div class="p-container" *ngIf="!loading">
                    <div
                        style="display: flex; flex-direction: row; height: 38px; align-items: center; background-color: #57C1E8;">
                        <div style="width: 60%; padding: 10px; border-right: solid 1px lightgrey;" id="h-akun">
                            <span class="title">Kasir</span>
                        </div>
                        <div style="width: 20%; padding: 10px; border-right: solid 1px lightgrey;" id="h-debit">
                            <span class="title">Keterangan</span>
                        </div>
                        <div style="width: 20%; padding: 10px;" id="h-kredit">
                            <span class="title">Saldo</span>
                        </div>
                    </div>

                    <div style="overflow-y: overlay; width: 100%; height: calc(100% - 38px);" id="c-container">
                        <div *ngFor="let x of res_data; let i = index"
                            style="width: 100%; height: 42px; display: flex; flex-direction: row; border-bottom: 1px solid lightgrey;"
                            [ngStyle]="{'background-color': x['type'] === 'cat' ? '#ecf0f1' : '', 'cursor': checkChild(x['id_jenis_transaksi']) || x['type'] === 'cat' ? 'default' : 'pointer'}"
                            [id]="i == 0 ? 'content' : null" (click)="checkChild(x['id_jenis_transaksi']) || x['type'] === 'cat' ? null : openDialog(x)">
                            <div style="width: 60%; padding: 10px; padding-right: 10px;"
                                [ngStyle]="{'border-right': x['type'] === 'cat' || checkChild(x['id_jenis_transaksi']) ? '' : 'solid 1px lightgrey', 'padding-left': x['type'] === 'cat' ? '10px' : (checkParent(x['id_kasir']) + 10) + 'px' }">
                                <span
                                    style="font-weight: bold;">{{ x['type'] === 'cat' ? x['nama_cabang'] : x['kode_jenis_transaksi'] }}
                                    {{ x['type'] === 'cat' ? x['nama_kasir'] : '' }}</span>
                            </div>
                            <div style="width: 20%; padding: 10px; padding-right: 10px;"
                                [ngStyle]="{'border-right': x['type'] === 'cat' ? '' : 'solid 1px lightgrey'}">
                                <span style="color: black" *ngIf="x['type']">
                                    {{ x['keterangan'] }}</span>
                            </div>
                            <div style="width: 20%; padding: 10px; padding-right: 10px;">
                                <span style="color: black" *ngIf="!x['type']">Rp
                                    {{ numberFormatter(x['saldo_awal'], 2)  }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="width: 100%; height: 38px; display: flex; flex-direction: row; margin-top: 5px;"
                    *ngIf="!loading">
                    <div style="width: 60%;"></div>
                    <div style="width: 20%; padding: 10px;"></div>
                    <div style="width: 20%; padding: 10px;">
                        <span [ngStyle]="{'color': total_saldo_awal_kasir ? 'black' : 'black'}">Rp
                            {{ numberFormatter(total_saldo_awal_kasir, 2)  }}</span>
                    </div>
                </div>

                <div class="kt-form__actions">
                    <button type="button" class="btn btn-brand" (click)="onSubmit()">Simpan</button>
                </div>

            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>