kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
}

.remote {
	padding: 0 !important;
	width: calc(100% - 10px) !important;
}

.remote-content {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}