<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-subheader__main">
			<h4 class="kt-subheader__desc">Perusahaan Aktif: </h4>
			<h3 class="kt-subheader__title">{{ nama_perusahaan }}</h3>
			<button class="btn btn-label-success btn-bold" (click)="gantiPerusahaan()">Ganti</button>
		</div>
	</div>
</div>
<!-- end:: Content Head -->
