<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->
        <kt-portlet>

            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>

            <kt-portlet-body>
                <div class="kt-section" *ngIf="loading">
                    <kt-loading [loadingText]="loadingDataText"></kt-loading>
                </div>

                <div *ngIf="!loading">
                    <kt-forminput [inputLayout]="inputLayout" [formValue]="formValue" [noCancel]="noCancel"
                        [noSaveButton]="noSaveButton"></kt-forminput>
                </div>

                <div class="kt-section" *ngIf="tableLoad && !loading">
                    <kt-loading [loadingText]="loadingDataText"></kt-loading>
                </div>
                
                <div *ngIf="!tableLoad && !loading">
                    <kt-datatable-ag-grid [tableColumn]="displayedColumnsTable" [tableData]="browseData"
                        [tableRules]="browseDataRules" (selectRowEvent)="browseSelectRow($event)" [containerHeight]=350>
                    </kt-datatable-ag-grid>
                </div>
            </kt-portlet-body>

        </kt-portlet>
        <!-- End of a Content -->

    </div>
</div>