<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <div class="kt-section" *ngIf="loading">
                <kt-loading></kt-loading>
            </div>

            <kt-portlet-body>
                <div class="kt-section">
                    <kt-forminput [buttonLayout]="buttonLayout" [tableColumn]="detailDisplayColumns"
                        [tableData]="detailData" [tableRules]="detailRules" [editable]="editable"
                        [detailLoad]="detailLoad" [enableDetail]="enableDetail" (onSubmit)="onSubmit($event)"
                        [onUpdate]="onUpdate" [enableDelete]="enableDelete" (onCancel)="onCancel()"
                        (deleteData)="openCDialog()" (editAction)="editDetailData($event)"
                        (deleteAction)="deleteDetailData($event)">
                    </kt-forminput>
                </div>
            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>