<div class="row">
   <div class="col-xl-12">
       <kt-portlet>
           <kt-portlet-header [title]="'Laporan Laba Rugi'"></kt-portlet-header>
           <kt-portlet-body>
               <div class="kt-section" *ngIf="loading">
                   <kt-loading></kt-loading>
               </div>
               <div class="kt-section" *ngIf="!loading">
                   <div *ngIf="!loading">
                 <kt-forminput [inputLayout]="formInputLyt" [formValue]="formInputVal"
                           [namaTombol]="'Lihat Laporan'" (onSubmit)="onSubmit($event)" (onCancel)="onCancel()">
                       </kt-forminput>
                       <form #form action="{{urlReport.sheets}}" method="post" target="_blank">
                           <input hidden name="requestParam" value="{{ excelReportTypeId }}">
                           <button type="submit" (click)="form.submit()" id="fsubmit" hidden
                               value="Submit">Submit</button>
                       </form>
                   </div>
               </div>
           </kt-portlet-body>
       </kt-portlet>
   </div>
</div>