<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <kt-portlet-body>

                <div class="kt-section" *ngIf="loading">
                    <kt-loading></kt-loading>
                </div>

                <div class="p-container" *ngIf="!loading">
                    <div
                        style="display: flex; flex-direction: row; height: 38px; align-items: center; background-color: #57C1E8;">
                        <div style="width: 60%; padding: 10px; border-right: solid 1px lightgrey;" id="h-akun">
                            <span class="title">Akun</span>
                        </div>
                        <div style="width: 20%; padding: 10px; border-right: solid 1px lightgrey;" id="h-debit">
                            <span class="title">Debit</span>
                        </div>
                        <div style="width: 20%; padding: 10px" id="h-kredit">
                            <span class="title">Kredit</span>
                        </div>
                    </div>

                    <div style="overflow-y: overlay; width: 100%; height: calc(100% - 38px);" id="c-container">
                        <div *ngFor="let x of res_data; let i = index"
                            style="width: 100%; height: 42px; display: flex; flex-direction: row; border-bottom: 1px solid lightgrey;"
                            [ngStyle]="{'background-color': x['type'] === 'cat' ? '#ecf0f1' : '', 'cursor': checkChild(x['id_akun']) || x['type'] === 'cat' ? 'default' : 'pointer'}"
                            [id]="i == 0 ? 'content' : null"
                            (click)="checkChild(x['id_akun']) || x['type'] === 'cat' ? null : openDialog(x)">
                            <div style="width: 60%; padding: 10px; padding-right: 10px;"
                                [ngStyle]="{'border-right': x['type'] === 'cat' || checkChild(x['id_akun']) ? '' : 'solid 1px lightgrey', 'padding-left': x['type'] === 'cat' ? '10px' : (checkParent(x['id_induk_akun']) + 10) + 'px' }">
                                <span style="font-weight: bold;">
                                    {{ x['type'] === 'cat' ? x['nama_cabang'] : x['nama_akun'] }}
                                    {{ x['type'] === 'cat' ? x['nama_kategori_akun'] : '' }}
                                    {{ x['nama_tipe_akun'] === undefined ? '' : '(' + x['nama_tipe_akun'] + ')' }}
                                </span>
                            </div>
                            <div style="width: 20%; padding: 10px; padding-right: 10px; text-align: right;"
                                [ngStyle]="{'border-right': x['type'] === 'cat' || checkChild(x['id_akun']) ? '' : 'solid 1px lightgrey'}">
                                <span [ngStyle]="{'font-weight': numberFormatter(x['saldo_debit']) != 0 ? 'bold' : 'normal'}" style="color: black" *ngIf="!x['type'] && !checkChild(x['id_akun'])">Rp.
                                    {{ numberFormatter(x['saldo_debit'], 2)  }}</span>
                            </div>
                            <div style="width: 20%; padding: 10px; padding-right: 25px; text-align: right;">
                                <span [ngStyle]="{'font-weight': numberFormatter(x['saldo_kredit']) != 0 ? 'bold' : 'normal'}" style="color: black" *ngIf="!x['type'] && !checkChild(x['id_akun'])">Rp.
                                    {{ numberFormatter(x['saldo_kredit'], 2) }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="width: 100%; height: 38px; display: flex; flex-direction: row; margin-top: 5px;"
                    *ngIf="!loading">
                    <div style="width: 60%;"></div>
                    <div style="width: 20%; padding: 10px; text-align: right;">
                        <span [ngStyle]="{'color': total_debit != total_kredit ? 'red' : 'black'}" style="font-weight: bold;">Rp.
                            {{ numberFormatter(total_debit, 2)  }}</span>
                    </div>
                    <div style="width: 20%; padding: 10px; text-align: right;">
                        <span [ngStyle]="{'color': total_debit != total_kredit ? 'red' : 'black'}" style="font-weight: bold;">Rp.
                            {{ numberFormatter(total_kredit, 2)  }}</span>
                    </div>
                </div>

                <div class="kt-form__actions" style="padding-bottom: 10px;" *ngIf="!loading">
                    <button type="button" class="btn btn-brand" (click)="onSubmit()" [disabled]="disabled">Simpan</button>
                    <button type="button" *ngIf="enableCancel" class="btn btn-secondary kt--margin-left-10" style="margin-left: 15px;" (click)="onReset()">Batal</button>
                </div>

            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>