<div class="row">
    <div class="col-xl-12">

        <!-- Start of a Content -->

        <kt-portlet>
            <kt-portlet-header [title]="content.beforeCodeTitle"></kt-portlet-header>
            <div class="kt-section" *ngIf="loading">
                <kt-loading></kt-loading>
            </div>

            <kt-portlet-body>
                <div class="kt-section" *ngIf="!loading">
                    <div *ngIf="!loadingLR">
                        <kt-forminput #lr [inputLayout]="inputLayoutLR" [formValue]="formValueLR"
                            [nama_tombol]="nama_tombol" [tableColumn]="detailDisplayColumns" [tableData]="detailData"
                            [tableRules]="detailRules" (onSubmit)="onSubmitLR($event)" (onCancel)="onCancel('lr')"
                            [onSub]="onSub">
                        </kt-forminput>
                    </div>
                    <div *ngIf="loadingLR">
                        <kt-loading></kt-loading>
                    </div>
                </div>
            </kt-portlet-body>

        </kt-portlet>

        <!-- End of a Content -->

    </div>
</div>