.diag-header {
    width: auto;
    position: -webkit-sticky;
    position: sticky;
    height: 40px;
    background: #ecf0f1;
    top: 0;
    left: 0;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 9999;
    margin-bottom: 10px;
}

.close-btn {
    border-color: transparent;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.comparison-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.compare {
    width: 40%;
    padding: 10px 5px;
    z-index: 1;
}

.left {
    border: 2px solid #f39c12;
    background-color: #f6e58d;
}

.right {
    background-color: #7ed6df;
    border: 2px solid #3498db;
}

.dashed-line {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    border-bottom: 2px dashed;
    z-index: 0;
}

.completed {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    background-color: rgba(250,250,250, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transform: scale(2);
    opacity: 1;
    cursor: default !important;
  
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: red;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
        opacity: 1 !important;
    }
}

.unique-uang-jalan {
    width: calc(50% - 30px);
    height: auto;
    margin-left: 30px;
    border-left-width: 1px; 
    border-left-color: #ebedf2; 
    border-left-style: solid;
    padding: 0 15px;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

//
.btn-input-group {
	padding: 6px 4.5px 6px 10px;
}

.btn-datepicker-single {
	padding: 6px 3px 6px 10px;
}

.btn-datepicker-range {
	padding: 6px 3px 6px 10px;
}

//
:host {
    // CSS Jarak antar Input Field
    /deep/ .form-group {
        margin-bottom: 0.1rem;
    }

    // CSS Ukuran Input Field Box
    /deep/ .form-control {
        height: calc(1.15em + 1.3rem + 2px);
        padding: 0.3rem 1rem;
    }
}
